/** Card Styling **/
.container {
    position: relative;
}

.aboutCard {
    position: absolute;
    bottom: -70px;
    right: 5px;
}

.blueCard {
    height: 450px;
    width: 400px;
    margin: 20px;
    padding: 25px;
    background-color: rgb(38, 46, 63, 0.6);
}

.cardTitle {
    text-align: center;
}

/** Card Media Queries **/
@media (min-width: 1201px) {
    .smallAboutCard {
        display: none;
    }
}

@media (max-width: 1200px) { 
    .aboutCard {
        display: none;
    }
}

/** Upper Container Media Queries **/
@media (max-width: 1200px) {
    .container {
        position: static;
    }
    
    .aboutCard {
        position: static;
        bottom: 0px;
        right: 0px;
        width: auto;
    }

    .container img {
        height: 100%;
        width: 100%;
    }

}

/** Lower Card Elements **/
.mainPoint {
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
}

.subPoint {
    font-size: 18px;
    margin: 0;
}

.aboutIcon {
    font-size: 64px;
}

ul li {
    font-size: 18px;
}

/** Container Buffer **/
.top-buffer {
    margin-top: 5%;
}

/** Image Size **/

img {
    max-width: 1000px;
    max-height: 675px;
}
