/** Navigation Bar **/
.navigation-bar {
    width: 100%;
    height: 80px;
}

.navigation-bar a {
    font-size: 1.2rem;
    float: right;
    vertical-align: top;
    margin-right: 60px;
    height: 80px;
    line-height: 80px;
    text-decoration: none;
}

/** Navigation Bar - Logo Grouping **/
.logo {
    height: 50px;
    margin-left: 40px;
    margin-top: -11px;
}

#logoGroup {
    width: 430px;
    height: auto;
    float: left;
}

#logoGroup h1 {
    float: right;
    width: 280px;
    padding-top: 22px;
    font-size: 1.8rem;
}

#logoGroup a:hover {
    color: white;
}

/** Navigation Bar - Navigation Links **/
#navLinks {
    float: right;
    height: 80px;
    width: 380px;
    text-align: right;
}

#navLinks ul {
    width: 380px;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

#navLinks li {
    width: 100%;
    display: inline;
}

/** Hamburger Bars Menu **/
#hamburger {
    font-size: 40px;
    text-align: right;
    visibility: hidden;
}

#hamburger button {
    background: none;
    border: none;
}

.fa-bars {
    color: white;
}

.dropdownContent {
    display: none;
}

.show {
    display: block;
}

/** Media Queries for Nav Bar and Content **/
@media (max-width: 809px) {
    #navLinks {
        height: 0;
        visibility: hidden;
    }

    #hamburger {
        padding-right: 20px;
        padding-top: 12px;
        visibility: visible;
    }

    .dropdownContent a {
        margin-right: 30px;
    }

}

@media (max-width: 767px) {

    .col-lg-4 img {
        padding: 15px 0px 20px 102px;
    }

    .col-lg-6 h3 {
        padding-left: 130px;
    }

    .col-lg-6 p { 
        padding: 0 103px;
    }

    .col-lg-6 a { 
        padding-left: 103px;
    }

    .connectIcons a {
        padding-left: 0;
    }

}

@media (max-width: 504px) {
    #logoGroup {
        width: 320px;
    }

    .navigation-bar a {
        width: 295px;
        margin-right: 45px;
    }

    #logoGroup h1 {
        width: 205px;
    }

    .dropdownContent a {
        margin-right: 0px;
    }

    .col-lg-4 img {
        padding: 15px 0px 20px 42px;
    }

    .col-lg-6 h3 {
        padding-left: 70px;
    }

    .col-lg-6 p { 
        padding: 0 40px;
    }

    .col-lg-6 a { 
        padding-left: 40px;
    }

    .connectIcons a {
        padding-left: 0;
    }
}

@media (max-width: 375px) {
    #logoGroup {
        width: 285px;
    }

    .navigation-bar a {
        margin-right: 15px;
    }

    #hamburger {
        padding-right: 20px;
    }

    .dropdownContent a {
        margin-right: 0px;
    }

    .col-lg-4 img {
        padding: 10px 0px 20px 24px;
    }

    .col-lg-6 h3 {
        padding-left: 50px;
    }

    .col-lg-6 p { 
        padding: 0 25px;
    }

    .col-lg-6 a { 
        padding-left: 25px;
    }

    .connectIcons a {
        padding-left: 0;
    }
}

@media (max-width: 360px) {
    .col-lg-4 img {
        padding: 10px 0px 20px 15px;
    }

    .col-lg-6 p { 
        padding: 0 20px;
    }

    .col-lg-6 a { 
        padding-left: 20px;
    }

    .connectIcons a {
        padding-left: 0;
    }
}

@media (max-width: 320px) {
    #logoGroup {
        width: 265px;
    }

    .navigation-bar a {
        margin-right: 10px;
    }

    #hamburger {
        padding-right: 3px;
    }

    .col-lg-4 img {
        padding: 10px 0px 20px 0px;
    }

    .col-lg-6 h3 {
        padding-left: 40px;
    }

    .col-lg-6 p { 
        padding: 0 10px;
    }

    .col-lg-6 a { 
        padding-left: 10px;
    }

    .connectIcons a {
        padding-left: 0;
    }
}

/** Card Styling **/
.container {
    position: relative;
}

.aboutCard {
    position: absolute;
    bottom: -70px;
    right: 10px;
}

.blueCard {
    height: 450px;
    width: 350px;
    margin: 20px;
    padding: 25px;
    background-color: rgb(38, 46, 63, 0.6);
}

.cardTitle {
    text-align: center;
}

/** Lower Card Elements **/
.mainPoint {
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
}

.subPoint {
    font-size: 18px;
    margin: 0;
}

.aboutIcon {
    font-size: 64px;
}

ul li {
    font-size: 18px;
}

/** Container Buffer **/
.top-buffer {
    margin-top: 5%;
}

/** Body **/
body {
    font-family: 'Raleway', sans-serif;
    background: #000;
    color: #fff;
}

a {
    color: #FFF;
    transition-duration: 0.5s;
}

a:hover {
    color: teal;
}