/** Navigation Bar **/
.navigation-bar {
    width: 100%;
    height: 80px;
}

.navigation-bar a {
    font-size: 1.2rem;
    float: right;
    vertical-align: top;
    margin-right: 60px;
    height: 80px;
    line-height: 80px;
}

/** Navigation Bar - Logo Grouping **/
.logo {
    height: 50px;
    margin-left: 40px;
    margin-top: 15px;
}

#logoGroup {
    width: 380px;
    height: auto;
    float: left;
}

#logoGroup h1 {
    float: right;
    width: 280px;
    padding-top: 24px;
    font-size: 1.8rem;
}

/** Navigation Bar - Navigation Links **/
#navLinks {
    float: right;
    height: 80px;
    width: 380px;
    text-align: right;
}

#navLinks ul {
    width: 380px;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

#navLinks li {
    width: 100%;
    display: inline;
}

/** Card Styling **/
.container {
    position: relative;
}

.aboutCard {
    position: absolute;
    bottom: -70px;
    right: 10px;
}

.blueCard {
    height: 450px;
    width: 350px;
    margin: 20px;
    padding: 25px;
    background-color: rgb(38, 46, 63, 0.6);
}

.cardTitle {
    text-align: center;
}

/** Lower Card Elements **/
.mainPoint {
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
}

.subPoint {
    font-size: 18px;
    margin: 0;
}

.aboutIcon {
    font-size: 64px;
}

ul li {
    font-size: 18px;
}

/** Container Buffer **/
.top-buffer {
    margin-top: 5%;
}

/** Body **/
body {
    font-family: 'Raleway', sans-serif;
    background: #000;
    color: #fff;
}

a {
    color: #FFF;
    transition-duration: 0.5s;
}

a:hover {
    color: teal;
}