/** Navigation Bar **/
.navigation-bar {
    width: 100%;
    height: 80px;
}

.navigation-bar a {
    font-size: 1.2rem;
    float: right;
    vertical-align: top;
    margin-right: 60px;
    height: 80px;
    line-height: 80px;
    text-decoration: none;
}

/** Navigation Bar - Logo Grouping **/
.logo {
    height: 50px;
    margin-left: 40px;
    margin-top: -11px;
}

#logoGroup {
    width: 430px;
    height: auto;
    float: left;
}

#logoGroup h1 {
    float: right;
    width: 280px;
    padding-top: 22px;
    font-size: 1.8rem;
}

#logoGroup a:hover {
    color: white;
}

/** Navigation Bar - Navigation Links **/
#navLinks {
    float: right;
    height: 80px;
    width: 380px;
    text-align: right;
}

#navLinks ul {
    width: 380px;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

#navLinks li {
    width: 100%;
    display: inline;
}

/** Hamburger Bars Menu **/
#hamburger {
    font-size: 40px;
    text-align: right;
    visibility: hidden;
}

#hamburger button {
    background: none;
    border: none;
}

.fa-bars {
    color: white;
}

.dropdownContent {
    display: none;
}

.show {
    display: block;
}

/** Media Queries for Nav Bar and Content **/
@media (max-width: 809px) {
    #navLinks {
        height: 0;
        visibility: hidden;
    }

    #hamburger {
        padding-right: 20px;
        padding-top: 12px;
        visibility: visible;
    }

    .dropdownContent a {
        margin-right: 30px;
    }

    .row {
        display: inline-flex;
        width: 100%;
    }

}

@media (max-width: 767px) {

    .col-lg-4 img {
        padding: 15px 0px 20px 102px;
    }

    .col-lg-6 h3 {
        padding-left: 130px;
    }

    .col-lg-6 p { 
        padding: 0 103px;
    }

    .col-lg-6 a { 
        padding-left: 103px;
    }

    .connectIcons a {
        padding-left: 0;
    }

}

@media (max-width: 504px) {
    #logoGroup {
        width: 320px;
    }

    .navigation-bar a {
        width: 295px;
        margin-right: 45px;
    }

    #logoGroup h1 {
        width: 205px;
    }

    .dropdownContent a {
        margin-right: 0px;
    }

    .col-lg-4 img {
        padding: 15px 0px 20px 42px;
    }

    .col-lg-6 h3 {
        padding-left: 70px;
    }

    .col-lg-6 p { 
        padding: 0 40px;
    }

    .col-lg-6 a { 
        padding-left: 40px;
    }

    .connectIcons a {
        padding-left: 0;
    }
}

@media (max-width: 375px) {
    #logoGroup {
        width: 285px;
    }

    .navigation-bar a {
        margin-right: 15px;
    }

    #hamburger {
        padding-right: 20px;
    }

    .dropdownContent a {
        margin-right: 0px;
    }

    .col-lg-4 img {
        padding: 10px 0px 20px 24px;
    }

    .col-lg-6 h3 {
        padding-left: 50px;
    }

    .col-lg-6 p { 
        padding: 0 25px;
    }

    .col-lg-6 a { 
        padding-left: 25px;
    }

    .connectIcons a {
        padding-left: 0;
    }
}

@media (max-width: 360px) {
    .col-lg-4 img {
        padding: 10px 0px 20px 15px;
    }

    .col-lg-6 p { 
        padding: 0 20px;
    }

    .col-lg-6 a { 
        padding-left: 20px;
    }

    .connectIcons a {
        padding-left: 0;
    }
}

@media (max-width: 320px) {
    #logoGroup {
        width: 265px;
    }

    .navigation-bar a {
        margin-right: 10px;
    }

    #hamburger {
        padding-right: 3px;
    }

    .col-lg-4 img {
        padding: 10px 0px 20px 0px;
    }

    .col-lg-6 h3 {
        padding-left: 40px;
    }

    .col-lg-6 p { 
        padding: 0 10px;
    }

    .col-lg-6 a { 
        padding-left: 10px;
    }

    .connectIcons a {
        padding-left: 0;
    }
}

/** Contact Info **/
.contact {
    display: inline-block;
    padding-left: 50px;
}

.contactInfo {
    float: left;
    padding-right: 15px;
}

.contactIcon {
    float: right;
    padding-top: 15px;
    padding-left: 15px;
    border-left: 1px solid;
    height: 55px;
}

@media (max-width: 991px) {
    .contact {
        display: block;
        padding-left: 0;
    }

    .contactInfo {
        float: none;
        padding-right: 0;
    }

    .contactIcon {
        float: none;
        border: none;
        padding-top: 7px;
        padding-left: 0;
    }
}

/**Form Styling**/

.info{
    padding-top: 14px;
    text-align: right;
}


@media (max-width: 991px) {
    .info {
        text-align: center;
    }
}

.form{
    text-align: left;
}

label {
    margin-top: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
    border: none;
    border-bottom: 2px solid #FFF;
    background: none;
    color: #FFF;
}

input[type=submit] {
    width: 50%;
    background: #606060;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background: #404040;
    color: #FFF;
}

/** Body **/
body {
    font-family: 'Raleway', sans-serif;
    background: #000;
    color: #fff;
}

a {
    color: #FFF;
    transition-duration: 0.5s;
}

a:hover {
    color: teal;
}