/** Main Jumbotron **/
.main {
    width: 100%;
    background: #202020;
    text-align: center;
    height: 90vh;
    display: flex;
    align-items: center;
}

#smallFontSize {
    font-size: 1.25em;
    margin-bottom: 1rem;
}

#largeFontSize {
    font-size: 2.5em;
    margin-bottom: .5rem;
}

/** Container Buffer **/
.top-buffer {
    margin-top: 5%;
}

.container a {
    text-decoration: none;
}

/** Image Size **/
img {
    max-width: 300px;
    max-height: 300px;
}
/** Let's Connect **/
.connectIcons a {
    text-decoration: none;
}

.homeIcon {
    font-size: 64px;
    padding: 10px 25px 100px 25px;
}