/** Project Container **/
.container-fluid {
    padding: 0;
    height: 600px;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.container-fluid:hover > .project {
    -webkit-filter: brightness(1);
    filter: brightness(1);
}

.container-fluid:hover > .projectText {
    transform: perspective(1000px) translate3d(-48%, -48%, 30px);
}

.project {
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
    transition: 0.5s ease-in, 0.5s ease-out;
    align-items: center;
}

.project1 {
    background-image: url(https://cdn-images-1.medium.com/max/2000/1*jOmqL305XiH0Rvj_gabASg.png);
}

.project2 {
    background-image: url(https://www.webdesignerdepot.com/cdn-origin/uploads/2016/04/featured_code.jpg);
}

.project3 {
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/037ecb30473933.56250e8a547ec.jpg);
}

.projectText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-shadow: 2px 2px 2px #000;
    transition: 0.5s ease-in, 0.5s ease-out;
}

/** Body links and list colors **/
a:hover {
    color: #FFF;
}

li a:hover {
    color: teal;
}